// font
//
@font-face {
  font-family: 'Prompt';
  src: url('Prompt-Regular.eot');
  src: url('Prompt-Regular.eot?#iefix') format('embedded-opentype'),
    url('Prompt-Regular.woff2') format('woff2'),
    url('Prompt-Regular.woff') format('woff'),
    url('Prompt-Regular.ttf') format('truetype'),
    url('Prompt-Regular.svg#Prompt-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('Prompt-Regular_1.eot');
  src: url('Prompt-Regular_1.eot?#iefix') format('embedded-opentype'),
    url('Prompt-Regular_1.woff2') format('woff2'),
    url('Prompt-Regular_1.woff') format('woff'),
    url('Prompt-Regular_1.ttf') format('truetype'),
    url('Prompt-Regular_1.svg#Prompt-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*:not(i) {
  font-family: Prompt !important;
}

a {
  text-decoration: none !important;
}

button {
  outline: none !important;
}

$demi-rose: #f2dede;
$demi-green: #C1E1F1;

#new-post-form {
  width: 100%;
  height: 145px;
  .form-control {
    width: 100%;
    height: 100%;
  }
}

#m-notice {
  border-radius: 2px;
  height: 60px;
  position: fixed;
  top: 0px;
  width: 100%;

  z-index: 9999;
  display: none;
  p {
    text-align: center;
    line-height: 60px;
    margin: 0px;
    &.m-notice {
      background: $demi-green;
    }
    &.m-alert {
      background: $demi-rose;
    }
  }
  span.close-notice {
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-size: 1.2em;
    cursor: pointer;
    color: #666;
  }
}

